
.vs/bread/FileContentIndex/0e135e5e-0af7-410d-89f5-53e145070908.vsidx
.vs/bread/FileContentIndex/708890d7-6fa6-4338-b1dc-622fdeb27a98.vsidx
.vs/bread/FileContentIndex/91a1450f-7da4-4ae0-bce5-501e68e6b50e.vsidx
.vs/bread/FileContentIndex/f96ed96d-119e-4fc5-9b62-296a3a14c331.vsidx
.vs/bread/v17/.suo
.vs/bread/v17/Browse.VC.db
.vs/bread/v17/DocumentLayout.json
.vs/bread/v17/ipch/AutoPCH/52532b662ebfccd9/BREAD.ipch
.vs/bread/v17/ipch/AutoPCH/9aa770107b9fd943/BREAD.ipch
.vs/bread/v17/ipch/AutoPCH/aa2be449a109633/TRIVIA.ipch
.vs/bread/v17/Solution.VC.db
.vscode/launch.json
.vscode/tasks.json
bread.exe
bread.ilk
bread.obj
bread.pdb
bread.sln
bread.vcxproj
bread.vcxproj.filters
bread.vcxproj.user
bread/x64/Debug/bread.exe.recipe
bread/x64/Debug/bread.ilk
bread/x64/Debug/bread.log
bread/x64/Debug/bread.tlog/bread.lastbuildstate
bread/x64/Debug/bread.tlog/CL.command.1.tlog
bread/x64/Debug/bread.tlog/Cl.items.tlog
bread/x64/Debug/bread.tlog/link.command.1.tlog
bread/x64/Debug/bread.tlog/link.read.1.tlog
bread/x64/Debug/bread.tlog/link.secondary.1.tlog
bread/x64/Debug/bread.tlog/link.write.1.tlog
bread/x64/Debug/bread.tlog/rc.command.1.tlog
bread/x64/Debug/bread.tlog/rc.read.1.tlog
bread/x64/Debug/bread.tlog/rc.write.1.tlog
bread/x64/Debug/bread.tlog/unsuccessfulbuild
bread/x64/Debug/Resource.res
bread/x64/Debug/vc143.idb
bread/x64/Debug/vc143.pdb
bread/x64/Release/bread.exe.recipe
bread/x64/Release/bread.iobj
bread/x64/Release/bread.ipdb
bread/x64/Release/bread.log
bread/x64/Release/bread.obj
bread/x64/Release/bread.tlog/bread.lastbuildstate
bread/x64/Release/bread.tlog/CL.command.1.tlog
bread/x64/Release/bread.tlog/Cl.items.tlog
bread/x64/Release/bread.tlog/CL.read.1.tlog
bread/x64/Release/bread.tlog/CL.write.1.tlog
bread/x64/Release/bread.tlog/link.command.1.tlog
bread/x64/Release/bread.tlog/link.read.1.tlog
bread/x64/Release/bread.tlog/link.secondary.1.tlog
bread/x64/Release/bread.tlog/link.write.1.tlog
bread/x64/Release/bread.tlog/rc.command.1.tlog
bread/x64/Release/bread.tlog/rc.read.1.tlog
bread/x64/Release/bread.tlog/rc.write.1.tlog
bread/x64/Release/Resource.res
bread/x64/Release/vc143.pdb
tasks.json
vc140.pdb
x64/Debug/bread.pdb
x64/Release/bread.pdb
x64/Release/bread.exe
*.ico
